*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* NAV STYLE */

.nav{
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #1A55C4;
    padding: 16px 32px;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #111;
}


#hamburger{
    display: none;
}

.nav__ul{
    display: flex;
    margin-left: auto;
}

.nav p{
    color: #fff;
}

.nav__li{
    padding: 6px 8px;
    list-style: none;
}

.nav__li a{
    text-decoration: none;
    color: #fff;
}

.ti-code, p{
    color: #fff;
    font-size: 20px;
}

.ti-code{
    padding-right: 10px;
}

.nav__li a:hover{
    text-decoration: underline;
}

/* BODY STYLE */

#Home{
    background-color: #1A55C4;
    width: 100%;
    height: 70vh;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    margin-right: auto;
    padding: 30px;
}

.text{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    font-size: 16px;
    letter-spacing: 2px;
}

.logo-content{
    margin-left: auto;
    padding: 30px;
}

.logo{
    max-width: 100%;
    width: 250px;
    height: 250px;
}

.home-content h1{
    color: #fff;
    font-size: 36px;
    line-height: 1.2;
}

h1 span{
    color: #93C5FD;
}

.home-content button{
    padding: 10px 14px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 120px;
    cursor: pointer;
}

.Projects, .Contact {
    color:#fff;
}

.hero-buttons{
    display: flex;
    gap: 12px;
}

.Projects:hover, .Contact:hover{
    background-color: #111;
    transition: background-color 0.4s ease;
}

.Projects:active, .Contact:active{
    transform: scale(0.95);
    opacity: 0.85;
}

